{% extends 'base.html.twig' %}

{% block title %}Shop index{% endblock %}

{% block body %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">{{ shop.name }}</h1>
            </div>
        </div>
    </header>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">

            <a href="{{ path('shop_index')}}" class="btn btn-secondary btn-icon"><span class="icon fas fa-arrow-left"></span></a>
            <a class="btn btn-primary mt-auto" href="{{ path('shop_contact', {id: shop.id}) }}">Contactez l'établissement</a>
            <h2>Nos produits</h2>

            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


                {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{ product.picture_url|default('https://dummyimage.com/450x300/dee2e6/6c757d.jpg') }}" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('user_cart') }}">Ajouter au panier</a></div>
                                {% if product.quantity is defined and product.quantity > 0 %}
                                    <div class="text-center text-info">Quantité : {{ product.quantity }}</div>
                                {% else %}
                                    <div class="text-center text-danger">Plus de stock</div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}












